<div class="view-table">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline mb-0">
                    <div class="row px-7 py-4 align-items-center">
                        <div class="col-md-4">
                            <h4 class="card-title mb-0 pl-0 pl-md-1"> Sale ( {{sale.count}} )</h4>
                        </div>
                        <div class="col-md-8 d-flex justify-content-end align-items-center">
                            <button class="btn btn-sm btn-outline-success cursor-pointer" title="add" (click)="$event.stopPropagation();showDialog(sale)">
                                <i class="fas fa-plus mr-1"></i> Add
                            </button>
                        </div>
                    </div>
                    <span>
                        <ng-container *ngIf="this.displayedColumns && !this.displayedColumns?.includes('Action')">
                            {{ getDisplayedColumns() }}
                        </ng-container>
                    </span>

                    <div class="card-body p-0">
                        <div class="data-table" *ngIf="sale">
                            <table mat-table [dataSource]="sale" (matSortChange)="{}" matSort class="w-100 mat-elevation-z8" [matSortActive]="options.column!" [matSortDirection]="options.order === 'ASC' ? 'asc' : 'desc'" matSortDisableClear>
                                <ng-container matColumnDef="Id">
                                    <th mat-header-cell *matHeaderCellDef> SaleId </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{row?.id || '-' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ProductId">
                                    <th mat-header-cell *matHeaderCellDef> ProductId </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{row?.productId || '-' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ProductName">
                                    <th mat-header-cell *matHeaderCellDef> ProductName </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{row?.product?.name || '-' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Quantity">
                                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{row?.quantity || '0' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="ItemPrice">
                                    <th mat-header-cell *matHeaderCellDef> ItemPrice </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{row?.itemPrice || '0' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="TransactionDate">
                                    <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
                                    <td mat-cell *matCellDef="let row" class="pr-2">
                                        {{ helperService.formatDate(row.transactionDate) || '-' }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef class="action"> Action
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <ng-container>
                                            <div class="d-flex justify-content-end align-items-center w-max-content">
                                                <button type="submit" (click)="showDialog(row)" class="btn btn-sm btn-outline-primary" title="Edit">
                                                    <i class="fas fa-pencil-alt mr-1"></i> Edit
                                                </button>
                                                <button type="submit" (click)="delete(row)" style="margin: 0 8px;" class="btn btn-sm btn-outline-danger" title="Delete">
                                                    <i class="fas fa-trash-alt mr-1"></i> Delete
                                                </button>
                                            </div>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="sale.count" [pageSize]="100" [pageSizeOptions]="[100,200,300]" aria-label="Select page" (page)="changePage($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-create-sale #createSale (close)="getSaleList()"></app-create-sale>